#header {
  #language-chooser {
    .label {
      margin-right: 15px;

      color: var(--lang-bar-fg);
    }
  }
}

#content-main .available-languages {
  font-size: 100%;

  .lang-code {
    &.active {
      @extend .button-selected-lang;
      height: auto !important;

      padding: 5px !important;

      line-height: 1 !important;

      opacity:  0.7;
    }
    &.current {
      opacity: 1;
    }
  }
}
