@charset "UTF-8";

.admin_shortcuts .shortcuts {
  margin-top: var(--header-height);
  padding: 0 var(--page-outer-spacing);

  background-color: var(--body-bg);
  box-shadow: none;

  h2 {
    border-bottom: 0;
  }
}
