@charset "UTF-8";

.cms-admin-modal {
  .breadcrumbs {
    display: none;
  }
}

body {
  .breadcrumbs {
    margin-top: 0;
    padding: 20px;

    color: var(--body-quiet-color);

    font-weight: 500;

    border-bottom: 1px solid var(--border-color);

    a {
      color: var(--link-fg);

      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}

body.slick-admin-cms {
  .breadcrumbs {
    margin-top: var(--header-height);
  }
}
