//button defintions
@mixin default-button {
  display: inline-block;
  height: var(--button-height);
  padding-top: 0;
  padding-bottom: 0;

  line-height: var(--button-height);
  vertical-align: middle;

  border: var(--button-border-size) solid var(--button-default-border);
  border-radius: var(--button-border-radius);
  box-shadow: none;
}

@mixin border-button($color: $gray, $color-hover: $color-primary) {
  color: $color;

  background-color: transparent;
  border: var(--button-border-size) solid $color;

  &:hover, &:focus {
    color: $color-hover;

    // background-color: lighten($color-hover, 25);
    border-color: $color-hover;

    &:before {
      color: $color-hover;
    }
  }

  &:before {
    color: $color;
  }
}

@mixin button-variant($color, $background, $border-color, $important: false) {
  margin-bottom: 0;

  // For input.btn
  padding: 6px 20px;

  color: $color;
  font-weight: normal;
  // font-size: $font-size-small;
  // line-height: $font-size-small;
  letter-spacing: normal;
  text-transform: none;

  background-color: $background;
  background-image: none;
  border: var(--button-border-size) solid $border-color;
  border-radius: var(--button-border-radius);

  appearance: none;

  &:focus {
    color: $color important($important);
    text-decoration: none important($important);

    //background-color: #{color-lighten($background, 0.95)};
    //border-color: #{color-lighten($border-color, 0.95)};
  }

  &:hover {
    color: $color;
    text-decoration: none;

    //background-color: #{color-lighten($background, 0.95)};
    //border-color: #{color-lighten($border-color, 0.95)};
  }

  &:active {
    color: $color important($important);

    //background-color: #{color-lighten($background, 0.9)};
    background-image: none;
    //border-color: #{color-lighten($border-color, 0.9)};
    //box-shadow: $btn-active-shadow;

    &:hover,
    &:focus {
      color: $color important($important);

      //background-color: #{color-lighten($background, 0.83)};
      //border-color: #{color-lighten($border-color, 0.75)};
    }
  }

  &[disabled] {
    &:active {
      //color: rgba($color, 0.8);

      //background-color: color-alpha($background, 0.4);
      //border-color: color-alpha($border-color, 0.4);
      box-shadow: none;
      cursor: not-allowed;

      &:before {
        //color: rgba($color, 0.4);
      }
    }
  }
}


.admin-action-button {
  @include button-variant(var(--button-action-fg), var(--button-action-bg), var(--button-default-border), true);
  @include default-button;

  text-transform: uppercase;
}

.default-button {
  @include button-variant(var(--button-default-fg), var(--button-default-bg), var(--button-default-border), true);
  @include default-button;
}

.light-button {
  @include button-variant(var(--button-light-fg), var(--button-light-bg), var(--button-default-border), true);
  @include default-button;

  &:hover {
    //background-color: #{color-lighten($btn-light-bgcolor, 0.88)};
  }
}

.danger-button {
  @include button-variant(var(--button-danger-fg), var(--button-danger-bg), var(--button-default-border), true);
  @include default-button;

  text-transform: uppercase;
}

//generic links
a:link, a:visited {
  color: var(--link-fg);

  &:hover {
    color: var(--link-hover-color);
  }
}

//filter color, hover
#changelist-filter a:focus, #changelist-filter a:hover, #changelist-filter li.selected a:focus, #changelist-filter li.selected a:hover {
  color: var(--secondary);
}

a.active.selector-chooseall:focus, a.active.selector-clearall:focus, a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
  color: var(--link-highlight-fg);
}

//generic buttons
.button, input[type=submit], input[type=button], .submit-row input, a.button {
  @extend .default-button;
}

//object-tool buttons
.object-tools a:link, .object-tools a:visited {
  @extend .light-button;
}

ul.object-tools a.viewsitelink, ul.object-tools a.golink {
  @extend .admin-action-button;
}

#content .submit-row input {
  height: var(--button-height);

  line-height: calc(var(--button-height / 2));

  //margin: 0 0 0 5px
}

//save button in submit row
.submit-row {
  input[name=_save] {
    @extend .admin-action-button;
  }
}

//addlink
body {
  ul.object-tools {
    .addlink {
      @extend .admin-action-button;
    }
  }
}

//general action button
#changelist .actions .button {
  @extend .default-button;

  margin-left: 10px;
}

//toolbar search button
#toolbar input[type=submit], .change-list #changelist-search input[type=submit] {
  @extend .admin-action-button;
}

//delete buttons
.submit-row a.deletelink {
  @extend .danger-button;

  height: auto;
}

//related admin link
.related-lookup {
  @extend .admin-action-button;
}

//inline buttons
.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
  @extend .default-button;
}

//header button
#header #header-btn .btn {
  @extend .default-button;
}

//dashboard
body.dashboard,
#nav-sidebar {
  .module {
    a.addlink {
      //@extend .dashboard-action-button;
    }

    a.changelink {
      //@extend .dashboard-button;
    }

    .quiet, a.quiet:link, a.quiet:visited {
      margin-left: var(--icon-size);
    }
  }
}

//login
body.login {
  .submit-row {
    input {
      @extend .default-button;
    }
  }
}

//filer
.slick-admin {
  form .form-row .filer-dropzone .filerFile .related-lookup {
    @include button-variant(var(--button-action-fg), var(--button-action-bg), var(--button-default-border), true);
    @include default-button;
  }

  form .form-row .filer-dropzone .filerFile .filerClearer {
    @include button-variant(var(--button-default-fg), var(--button-default-bg), var(--button-default-border), true);
    @include default-button;
    width: 36px;
    height: 36px;
    margin-top: 0;
    padding: 8px 0;

    background-color: transparent;

    border: var(--button-border-size) solid var(--button-default-border);
  }
}

.delete-confirmation form .cancel-link {
  @include button-variant(var(--button-action-fg), var(--button-action-bg), var(--button-default-border), true);
  @include default-button;

  text-transform: uppercase;

  //line-height: 40px
}

.delete-confirmation form input[type="submit"] {
  @include button-variant(var(--button-action-fg), var(--button-action-bg), var(--button-default-border), true);
  @include default-button;

  text-transform: uppercase;
}

//cms pages
.cms-btn-group {
  @extend .light-button;
  margin-right: 5px;

  opacity: 1;

  &.cms-btn-active {
    opacity: 0.7;
  }
}

.backend-language-chooser-button {
  @include button-variant(var(--button-lang-fg), var(--button-lang-bg), var(--button-lang-border), true);
  @include default-button;
  height: 20px;
  padding: 1px 6px;

  line-height: 20px;

  border: var(--button-border-size) solid var(--button-lang-border);

  &.active {
    color: var(--button-lang-active-fg);

    background-color: var(--button-lang-active-bg);
    border: var(--button-border-size) solid var(--button-lang-active-border);
  }
}

//adminlanguagechooser
#header {
  #language-chooser {
    a.button {
      @extend .backend-language-chooser-button;
    }
  }
}
