@charset "UTF-8";

body.change-list {
  #changelist #changelist-search img {
    display: none;
  }

  #changelist {
    display: flex;
    align-items: stretch;

    padding: 0;
    overflow: hidden;

    background: transparent;

    .actions, #toolbar, #changelist-search {
      width: 100%;

      background-color: transparent;
    }

    #changelist-form {
      background: transparent;
      box-shadow: none;

      label {
        font-size: 0;
        vertical-align: super;
      }
    }

    #toolbar {
      padding: 15px 10px 0;

      border-top: 0;
      border-bottom: 0;

      input[type="submit"] {
        margin-left: 10px;
      }
    }

    //filter
    #changelist-filter {
      #changelist-filter-clear {
        a {
          &:before {
            margin-right: 10px;

            content: '';
          }
        }
      }

      h2 {
        color: var(--body-quiet-color);

        background-color: transparent;
        border-bottom: 1px solid var(--border-color);
      }

      li {
        margin-left: 0;
        padding-left: 0;

        &.selected {
          border-left: 0;

          a {
            color: var(--primary);
            font-weight: 400;
          }
        }

        a {
          &::before {
            margin-left: 0;
          }
          max-width: 100%;

          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }

    #result_list {
      background-color: var(--content-bg);
      border-bottom: 0;

      hr {
        display: none;
      }

      thead {
        th {
          background-color: var(--content-bg);
          border-bottom: var(--default-border-size-large) solid var(--primary);

          .text {
            span {
              padding: 16px 10px;
            }

            a {
              color: var(--primary);
            }
          }
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: var(--active-row);
          }
        }
      }

      &.ui-sortable {
        tbody {
          td,
          th {
            vertical-align: middle;
          }
        }
      }
    }
  }

  table tbody tr:last-child {
    border-bottom: 0 !important;
  }
}

.change-list .filtered .results,
.filtered #toolbar,
.filtered div.xfull {
  margin-right: var(--filter-panel-width);
}
