body.slick-admin {
  .cms-pagetree-root {
    display: block !important;
    margin-top: var(--header-height);

    box-shadow: none !important;
  }

  .cms-pagetree {
    border: 0;
  }

  .cms-pagetree-section {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    &.cms-pagetree-legend {
      border-top: 0;
    }
  }

  .cms-pagetree-header {
    background-color: transparent;
    .cms-btn {
      line-height: var(--button-height);

      border-color: transparent !important;
      border-radius: var(--button-border-radius) !important;
    }
  }

  .cms-pagetree-container + .cms-pagetree-section {
    margin-top: 0;
  }

  .cms-icon {
    &.cms-icon-info {
      color: var(--link-fg) !important;
    }
  }

  .cms-pagetree-header-title h1 {
    padding: 0 !important;
  }

  .cms-pagetree-header-search-btn {
    position: relative;

    display: inline-block;
    box-sizing: border-box;
    width: 39px;
    height: 37px;

    background-color: var(--button-action-bg) !important;
    cursor: pointer;

    &:hover {
      background-color: color-darken(var(--button-action-bg), 0.1) !important;
    }
  }

  .cms-pagetree .cms-btn.cms-icon {
    margin: 0 3px;
  }

  .cms-btn-action {
    background-color: var(--button-action-bg) !important;

    &:hover {
      background-color: color-darken(var(--button-action-bg), 0.1) !important;
    }
  }

  .cms-pagetree-header-filter-container .selected a {
    color: var(--link-fg);
  }

  .cms-pagetree-dropdown-menu a:active, .cms-pagetree-dropdown-menu a:focus, .cms-pagetree-dropdown-menu a:hover {
    background-color: var(--button-action-bg) !important;
  }

  //publish states
  .cms-pagetree-node-state-published {
    background-color: var(--success);
    border-color: var(--success);
  }

  .cms-tree-item-menu .cms-icon-check-square:before {
    color: var(--success);
  }

  .cms-pagetree-node-state-dirty {
    background-color: var(--warning);
    border-color: var(--warning);
  }
}
