//##############################################################################
// DASHBOARD DJANGO CMS

body.dashboard {
  #content {
    width: calc(100% - var(--sidebar-width) - 10%);
    margin-top: var(--header-height);

    @media (max-width: 768px) {
      width: 90%;
    }

    #content-main {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr;

      background-color: transparent;
      box-shadow: none;

      @include breakpoint-from(large) {
        grid-template-columns: 1fr 1fr;
      }

      .module {
        margin-bottom: 0px;
      }
    }
  }
}
