.errornote {
  color: var(--surface-fg);
  font-weight: normal;

  background-color: var(--danger);
  border: 0px solid transparent;
  border-radius: var(--form-border-radius);
}

ul.errorlist {
  color: var(--danger);

  font-weight: 700;

  background-color: var(--content-bg);
}
