@charset "UTF-8";

body {
  #footer {
    &.footer {
      padding: 15px $page-outer-spacing;

      p {
        color: $gray-light;
        font-size: $font-size-small;
      }

      a {
        color: $footer-link-color;
      }

      .copyleft {
        display: inline-block;

        transform: rotate(180deg);
      }
    }
  }
}
