@charset "UTF-8";

body {
  #footer {
    &.footer {
      padding: 15px var(--page-outer-spacing);

      p {
        color: var(--gray-3);
        // font-size: $font-size-small;
      }

      a {
        color: var(--secondary);
      }

      .copyleft {
        display: inline-block;

        transform: rotate(180deg);
      }
    }
  }
}
