@charset "UTF-8";

form {
  .wide {
    label {
      width: 160px;
    }

    p {
      &.help {
        padding-left: 10px;
      }

      input + p.help {
        margin-left: 160px;
      }
    }
  }

  p {
    margin-left: 0;

    &.help {
      line-height: 32px;
    }
  }

  button,
  input[type=password],
  input[type=url],
  input[type=number],
  input[type=text],
  input[type=email],
  select,
  textarea {
    appearance: none;
  }
}

label,
.aligned label,
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
textarea,
select,
.vTextField {
  line-height: var(--form-input-height);
  vertical-align: middle;

  border-radius: var(--form-border-radius);
}

//mark parler translatable fields
label.translatable-field {
  color: var(--primary);

  &:before {
    @extend %icon;
    position: absolute;

    margin-top: 15px;
    margin-left: -24px;

    color: var(--primary);

    vertical-align: middle;

    content: "" !important;
  }
}

.delete-confirmation {
  form {
    margin-top: 30px;

    background-color: transparent;
  }
}

//errors
.errors {
  input,
  select,
  textarea {
    background-color: color-lighten(var(--danger), 0.2);
    border-color: var(--danger);
  }
}

.form-row {
  &.errors {
    ul {
      &.errorlist {
        li {
          color: var(--danger);
        }
      }
    }
  }
}

//add rows
tr {
  &.add-row {
    background-color: transparent;
  }
}

//form selects
form select,
#changelist .actions select,
form #searchbar {
  min-width: 160px;
  height: var(--form-input-height) !important;
  margin: 0 0 1rem;
  padding: 0px 40px 0px 10px !important;
  padding-right: 1.5rem;

  color: var(--form-input-fg);
  // font-size: $font-size-small;
  line-height: var(--button-height);
  text-indent: 1px;
  text-overflow: "";
  vertical-align: top !important;

  background-color: var(--content-bg) !important;
  background-repeat: no-repeat;
  background-position: right -1rem center;
  // background: url(../img/icon_arrow_down.png) right center no-repeat var(--content-bg) !important;
  background-size: 25px !important;
  background-origin: content-box;
  border: 1px solid var(--border-color);
  border-radius: var(--form-border-radius);

  -webkit-appearance: none;
  -moz-appearance: none;
}

/* stylelint-disable-next-line no-duplicate-selectors */
form {
  select[multiple] {
    padding-right: 10px !important;

    background-image: none !important;
  }
}

//toolbar searchfield
#changelist {
  #toolbar {
    form {
      #searchbar {
        margin-bottom: 0 !important;
        padding: 0 10px !important;

        line-height: var(--button-height);

        background-image: none !important;
        border-radius: var(--form-border-radius);
      }
    }
  }
}

//publication time & date
.form-row.field-publish_time {
  div > label {
    padding-right: 0;
  }

  input {
    width: 100px;
  }
}

//change form boxed
body.change-form {
  form {
    @include shadow-box;
  }
}

//form defaults
/* stylelint-disable-next-line no-duplicate-selectors */
form {
  background-color: var(--content-bg);

  textarea {
    min-width: 368px;
    min-height: 100px;

    line-height: 1.8;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=number],
  textarea,
  select,
  .vTextField {
    padding: 0px 10px;

    color: var(--form-input-fg);

    background-color: var(--content-bg);
    background-image: none;
    border-radius: 0;

    //margin-bottom: .5rem!important

    &:focus {
      background-color: var(--form-input-focus-bg);
      border-color: var(--form-input-focus-fg);
      outline: none;
    }
  }

  .submit-row {
    margin-bottom: 0;
    padding: 20px 30px;

    background-color: var(--form-submit-row);
    border: 0;
    border-top: 1px solid var(--border-color);
    border-radius: 0;

    &:first-child {
      border-top: 0;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .aligned .form-row input {
    //margin-bottom: 0 !important

  }

  .module {
    background-color: transparent;
  }

  .errornote {
    color: var(--primary-fg);

    background-color: var(--danger);
    border: 0;
    border-radius: 0;
  }

  fieldset {
    padding: 10px var(--form-spacing);

    border-radius: 0 !important;

    .form-row {
      padding: 20px 0;

      &:last-child {
        border-bottom: 0;
      }
    }

    .description {
      padding: 5px 0 20px 0;
    }
  }

  input {
    // height: var(--form-input-height);
  }
}

//COLLAPSABLE FIELDSETS //////////////////////////////////////
/* stylelint-disable-next-line no-duplicate-selectors */
form fieldset {
  &.module {
    > h2 {
      padding: 20px 0 10px;
      padding-left: 0;

      color: var(--form-fieldset-fg);
      font-weight: 200;
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;

      background-color: transparent;
      border-color: #eee;
      border-bottom: 1px solid var(--hairline-color);

      &::before {
        @extend .material-icons;
        margin-top: -3px;
        margin-right: 5px;
        margin-left: -20px;

        color: var(--form-fieldset-fg);

        //content: ''
        vertical-align: middle;

        transition: transform 0.3s ease-in-out;
      }
    }
  }

  &.collapse {
    margin-bottom: 0;
    padding: 15px calc(var(--form-spacing) - var(--collapse-border-left-size));

    background-color: var(--content-bg);
    border: 0;
    // border-top: 1px solid var(--border-color);
    border-left: var(--default-border-size-large) solid var(--primary);

    &:hover {
      background-color: var(--content-bg);
    }

    h2 {
      color: var(--primary);
      line-height: var(--button-height);
      text-transform: uppercase;

      background-color: var(--content-bg);

      a.collapse-toggle, a.collapse-toggle:focus {
        position: absolute;

        margin: 0 -5px;
        margin-top: -1px;
        padding: 0 20px;

        color: var(--body-quiet-color);
        font-weight: 400;
        font-size: var(--font-size);

        line-height: var(--button-height);
        text-transform: capitalize;

        text-decoration: none;

        background-color:var(--content-bg);
        border: 1px solid var(--border-color);
        border-radius: var(--button-border-radius);

        &:hover {
          background-color: var(--border-color);
        }
      }
    }

    > h2 {
      margin-bottom: 10px;
      padding-left: 0 !important;

      border-bottom: 1px solid transparent;

      &::before {
        @extend .material-icons;
        margin-top: -3px;
        margin-right: 5px;

        color: var(--primary);
        vertical-align: middle;

        transition: transform 0.3s ease-in-out;

        content: "expand_less";
      }
    }
  }

  &.collapsed {
    margin-bottom: 0;

    background-color: transparent;
    border: 0;
    // border-top: 1px solid var(--border-color);
    border-left: var(--default-border-size-large) solid transparent;

    > h2 {
      margin-bottom: 0;

      background-color: transparent;
      border-bottom: 0;

      &::before {
        @extend .material-icons;

        transform: rotate(180deg);
      }
    }
  }
}

//SELECTOR WIDGET ////////////////////////////////
body {
  .related-widget-wrapper {
    float: inherit !important;

    .selector {
      select {
        margin: 0;
        padding: 0;

        background-color: var(--content-bg);
        border-radius: 0;

        option {
          padding: 5px 8px;

          border-bottom: 1px solid var(--border-color);
        }
      }

      .selector-filter {
        padding: 8px;

        > p, input {
          border: 0;
        }

        input {
          width: 310px;
          margin-bottom: 0 !important;
          padding: 0 10px;
        }
      }

      .selector-available select {
        height: 150px !important;
      }

      .selector-chosen select {
        height: 200px !important;

        option {
          color: var(--primary);
          text-transform: uppercase;
        }
      }

      .selector-available, .selector-chosen {
        h2 {
          color: var(--body-quiet-color);

          background-color: var(--content-bg);
          border-radius: 0;
        }
      }
    }
  }
}

//DATETIME WIDGET ////////////////////////////////
/* stylelint-disable-next-line no-duplicate-selectors */
.form-row {
  .datetime {
    position: relative;

    padding-left: calc(10em + 40px);

    line-height: 40px;
    vertical-align: middle;

    input {
      &.vTimeField,
      &.vDateField {
        position: absolute;
        left: 0;

        width: 10em;
        margin-left: 0;
      }
    }

    .datetimeshortcuts {
      margin-right: 20px;

      a {
        margin: 0 10px;
      }
    }
  }
}

//IE STYLES ////////////////////////////////
select::-ms-expand {
  display: none;
}

//INLINE GROUP FIXES ////////////////////////////////
.inline-group {
  .tabular {
    tr {
      td {
        &.original {
          width: 0;
          overflow: hidden;

          opacity: 0;
        }

        &:first-child + td {
          padding-left: 0;
        }
      }
    }
  }
}
