@charset "UTF-8";

html, body {
  height: 100%;

  font-weight: 200;

  th {
    font-weight: 400;
  }
}

body {
  &.slick-admin {
    background-color: var(--body-bg);
  }

  abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
  }

  #container {
    min-width: auto;
  }

  #content {
    padding: 0 var(--page-outer-spacing);

    > h1 {
      padding: 30px 0;
    }

    > h2 {
      padding: 10px 0;
    }

    #content-main {
      @include shadow-box;

      float: none;
      width: 100%;

      background-color: var(--content-bg);

      .row1 {
        background-color: var(--content-bg);
      }

      .row2 {
        background-color: var(--content-bg);
      }
    }
  }
}

body.login #content #content-main {
  box-shadow: none;
}

body.slick-admin-cms {
  #content {
    //margin-top: var(--header-height)

  }
}

ul.messagelist li {
  padding: 15px var(--page-outer-spacing);

  &:before {
    padding-right: 5px;
    padding-left: var(--icon-spacing);

    color: var(--danger);
    font-size: 24px !important;
  }

  &.error {
    background-color: color-lighten(var(--danger), 0.3);
  }
}

.cms-admin-modal {
  #content-main, #content {
    padding-top: 0 !important;
  }

  #content {
    padding: 0;

    .cms-content-wizard {
      padding: 30px;
    }
  }

  #footer {
    display: none;
  }
}

