@charset "UTF-8";

//INLINE GROUPING ////////////////////////////////
.inline-group {
  margin: 0;

  border-top: 1px solid var(--border-color);

  > h2 {
    margin-top: 20px;
    padding: 20px 30px 0;

    color: var(--form-fieldset-fg);
    font-weight: bold;
    text-transform: uppercase;

    background-color: transparent;

    &::before {
      @extend .material-icons;
      margin-top: -3px;
      margin-right: 5px;

      color: var(--form-fieldset-fg);
      vertical-align: middle;

      transition: transform 0.3s ease-in-out;

      content: "menu";
    }
  }

  fieldset {
    width: auto;

    thead th {
      color: var(--body-quiet-color);

      background-color: transparent;
      border-top: 0;

      &:first-child {
        padding-left: 0 !important;
      }
    }

    h2 {
      margin-bottom: 10px;
      padding-left: 0;

      color: var(--body-quiet-color);

      background-color: transparent;
    }

  }

  .inline-related {
    margin-top: var(--form-spacing);

    border: 1px solid var(--hairline-color);

    &.ui-sortable-helper {
      background-color: var(--content-bg);
      transform: scale(0.5);
    }

    h3.ui-sortable-handle {
      padding: 20px 30px;

      background: url('./../asset/img/drag-norepeat.png') 12px no-repeat !important;
      background-size: 8px 30px !important;
      border-top: 0;
      cursor: move !important;
    }

    &.tabular {
      margin: 0;

      border: 0px;
    }
  }

  .tabular tr.add-row {
    td {
      padding-left: 0;

      background-color: transparent;
      border-bottom: 0;

      a {
        margin-top: 10px;
      }
    }
  }
}

body.dashboard,
#nav-sidebar {
  margin-top: 0;

  .module {
    overflow: hidden;

    background-color: var(--content-bg);
    border-radius: var(--module-border-radius);
    box-shadow: var(--default-shadow);

    caption {
      padding-top: 8px;
      padding-bottom: 8px;

      font-weight: 700;
      line-height: 30px;
      vertical-align: middle;

      background-color: var(--accent);
      border-bottom: 1px solid var(--hairline-color);

      a {
        color: var(--primary);
      }
    }

    tr {
      background-color: var(--content-bg);
      &:hover {
        background-color: var(--accent);
      }

      .addlink,
      .changelink {
        @extend .button-light;
      }

      .addlink {
        color: var(--primary);

        &:hover {
          color: var(--primary-fg) !important;

          background-color: var(--primary);
          border-color: var(--primary);
        }
      }

      .changelink {
        color: var(--button-light-fg);

        &:hover {
          color: var(--primary-fg) !important;

          background-color: var(--primary);
          border-color: var(--primary);
        }
      }


      th {
        a {
          color: var(--body-quiet-color);
          font-weight: 400;

          &:hover {
            color: var(--primary);
          }
        }
      }
    }

    th, td {
      vertical-align: middle;

      a {
        font-weight: 100;
      }
    }
  }
}

body.dashboard {
  .module {
    caption {
      border-bottom: 0;
    }
    tr {
      &:last-child {
        th,
        td {
          border-bottom: 0;
        }
      }
    }
  }
}

