@charset "UTF-8";

#nav-sidebar {
  background-color: var(--content-bg);

  .module.current-app {
    caption {
      background-color: var(--primary);
      border-bottom: 0;

      .section:link,
      .section:visited {
        color: var(--primary-fg);
      }
    }

    tbody {
      tr {
        background-color: var(--accent);
      }
    }

    .section:link,
    .section:visited {
      color: var(--body-fg);
    }

    .current-model {
      background-color: var(--accent);
      a {
        font-weight: 700;
      }
    }
  }


  .module {
    margin-bottom: 0;

    border-radius: 0;

    caption {
      background-color: var(--content-bg);
      border-bottom: 1px solid var(--hairline-color);
    }

    tbody {
      a {
        &.addlink {
          @extend .button-icon-action;

          position: relative;

          width: 24px;
          height: 24px;
          padding-right: 0 !important;
          padding-left: 0 !important;

          font-size: 0 !important;

          &:before {
            position: absolute;
            top: 50%;
            left: 50%;

            margin-top: 0;
            margin-left: 0;

            transform: translateX(-50%) translateY(-50%);
          }
        }
      }
    }
  }

  #nav-filter {
    width: calc(100% - 32px);
    margin: 16px;
    padding: 8px;

    border-radius: var(--form-border-radius);

    &.no-results {
      color: var(--primary-fg);

      background-color: var(--danger);
    }
  }
}

.toggle-nav-sidebar {
  background-color: var(--accent);

  &:hover {
    color: var(--primary-fg);

    background-color: var(--primary);
  }
}
