.paginator {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  //font-size: $font-size-small;
  line-height: 22px;

  border-top: 0;
}

#changelist .paginator {
  overflow: hidden;

  color: #666;

  background: transparent;
  border-bottom: 0;
}
