@charset "UTF-8";

body.popup, body.slick-admin-cms.popup {
  background-color: var(--content-bg);

  #content {
    margin-top: 0;

    h1 {
      padding: var(--form-spacing) 0;
    }
    h2 {
      margin-top: 20px;
      padding: 10px var(--form-spacing);
    }
  }

  #changelist #toolbar {
    border: 0;
  }

  #footer {
    display: none;
  }

  .cke_dialog_ui_hbox {
    background-color: red !important;

    a.cke_dialog_ui_button {
      display: inline-block;
      height: var(--button-height) !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      line-height: var(--button-height) !important;
      vertical-align: middle;

      border: var(--button-border-size) !important;
      box-shadow: none !important;
    }
  }
}

body.popup.change-form {
  #content {
    padding: 0;

    h1 {
      padding: calc(var(--form-spacing) / 2) var(--form-spacing);
    }
  }

  form {
    box-shadow: none;
  }
}
