@charset "UTF-8";

body {
  .hvad-language-tabs,
  .nani-language-tabs,
  .parler-language-tabs {
    padding: 0 20px;

    background-color: var(--content-bg);
    border-bottom: var(--default-border-size-large) solid var(--lang-bar-border-color);

    span {
      @extend .button-light;
      margin: 10px !important;

      &.current {
        @extend .button-selected-lang;
      }

      &.available {
        @extend .button-default;
      }

      &.empty {
        opacity: 1;
      }
    }

    a.deletelink {
      right: -10px;
      bottom: 0;

      width: 24px;
      height: 24px;
      padding: 0;

      line-height: 24px;
      text-align: center;

      background-color: var(--danger);
      border-radius: 999rem;

      &:hover {
        background-color: color-lighten(var(--danger), .2);

        &:before {
          color: white;
        }
      }

      &:before {
        position: relative;
        left: 7.5px;

        color: var(--button-danger-fg);
        font-size: 14px;
      }
    }
  }
}

//cms language tabs
/* stylelint-disable-next-line no-duplicate-selectors */
body {
  #page_form_lang_tabs {
    padding: 0 20px;

    background-color: var(--content-bg);
    border-bottom: var(--default-border-size-large) solid var(--primary);

    input {
      @extend .button-light;
      margin: 10px ;

      font-size: var(--font-size-small);

      &.selected {
        @extend .button-selected-lang;
        margin-bottom: 10px;
      }
    }
  }

  //parler
  .parler-language-tabs span.available,
  .parler-language-tabs span.current,
  .parler-language-tabs span.empty {
    border-radius: var(--button-border-radius);
  }

  .lang-code.active {
    background-color: var(--secondary);
  }
}
