@charset "UTF-8";

body {
  .hvad-language-tabs, .nani-language-tabs, .parler-language-tabs {
    padding: 0 20px;

    background-color: var(--content-bg);
    border-bottom: var(--default-border-size-large) solid var(--primary);

    span {
      margin: 10px;
      padding: 0px 20px;

      line-height: var(--button-height);

      background-color: var(--lang-bar-default-bg);
      border: 1px solid var(--lang-bar-default-border);
      border-radius: var(--button-border-radius);

      a {
        color: var(--lang-bar-default-fg);
      }

      &:hover {
        background-color: var(--lang-bar-current-bg) !important;
        border-color: transparent !important;

        a {
          color: var(--lang-bar-current-fg) !important;
        }
      }

      &.current {
        color: var(--lang-bar-current-fg);
        font-weight: 400;

        background-color: var(--lang-bar-current-bg);
        border-color: transparent;
      }

      &.available {
        background-color: var(--lang-bar-available-bg);
        border: 1px solid var(--lang-bar-available-border);

        a {
          color: var(--lang-bar-available-fg);
          font-weight: 400;
        }
      }

      &.empty {
        opacity: 1;
      }
    }

    a.deletelink {
      bottom: 0;

      margin: 0;
      padding: 0;
      padding: 0 2px;
      overflow: hidden;

      font-size: 14px;

      background-color: white;
      border-radius: 14px;

      &:hover {
        background-color: var(--button-danger-bg);

        &:before {
          color: white;
        }
      }

      &:before {
        position: relative;
        left: 7.5px;

        color: var(--button-danger-fg);
        font-size: 14px;
      }
    }
  }
}

//cms language tabs
/* stylelint-disable-next-line no-duplicate-selectors */
body {
  #page_form_lang_tabs {
    padding: 0 20px;

    background-color: var(--content-bg);
    border-bottom: var(--default-border-size-large) solid var(--primary);

    input {
      margin: 10px !important;
      padding: 0px 20px !important;

      color: var(--lang-bar-default-fg) !important;
      font-size: 14px !important;
      line-height: var(--button-height) !important;

      background-color: transparent !important;
      border: 1px solid var(--lang-bar-default-border) !important;
      border-radius: var(--button-border-radius) !important;

      &:hover {
        color: white !important;

        background-color: var(--lang-bar-current-bg) !important;
        border-color: transparent !important;
      }

      &.selected {
        color: white !important;

        background-color: var(--lang-bar-current-bg) !important;
        border-color: transparent !important;
      }
    }
  }

  //parler
  .parler-language-tabs span.available, .parler-language-tabs span.current, .parler-language-tabs span.empty {
    border-radius: var(--button-border-radius);
  }

  .lang-code.active {
    background-color: var(--secondary);
  }
}
