@charset "UTF-8";

.slick-admin {
  .sizedimage-mod {
    &.initial {
      a {
        line-height: $form-default-height;
      }
    }
  }

  div.versatileimagefield {
    input[type='file'] {
      margin-top: auto;
      margin-bottom: auto;
      padding-bottom: inherit;
      padding-left: inherit;
    }
  }

  .sizedimage-mod.preview {
    label {
      display: none;
    }
  }

  .versatileimagefield {
    input,
    label {
      margin-right: 10px;

      line-height: $form-default-height;
      vertical-align: middle;
    }

    div.image-wrap.outer {
      border: 1px solid $gray-lighter;
    }
  }

  .inline-group {
    &.sortable {
      .versatileimagefield {
        .initial,
        .clear {
          display: none;
        }
      }
    }
  }

  .ppoi-point {
    width: 24px;
    height: 24px;

    background-color: rgba($color-danger, 0.8);
    border: 0;
    border-radius: 999rem;

    &::before {
      @extend .material-icons;
      margin-top: 3px;
      margin-left: 3px;

      color: $white;
      vertical-align: middle;

      content: "filtercenterfocus";
    }
  }

  //.point-stage
  // width: 150px !important
  // height: 150px !important
}
