/* COLOR DEFINITIONS */
// https://mdigi.tools/color-shades/

// shades calculated from source color, steps from source to target (light/dark)
$primary: #5cb630;
$primary-shades: color-shades($color: $primary, $steps: 5, $range: 90%);
// generated values for reference purposes only
@debug "$primary-shades:" $primary-shades;
$primary-generated: (0: #0c1308, 1: #203616, 2: #355823, 3: #4a7b31, 4: #5e9d3f, 5: #73c04d, 6: #8ccb6d, 7: #a5d78d, 8: #bfe2ad, 9: #d8edcd, 10: #f1f9ed);

$secondary: #4b4ad1;
$secondary-shades: color-shades($secondary, 5, 70%);
// generated values for reference purposes only
@debug "$secondary-shades:" $secondary-shades;
$secondary-generated:  (0: #21183f, 1: #31245c, 2: #402f79, 3: #503a96, 4: #5f46b4, 5: #6f51d1, 6: #8369d7, 7: #9782de, 8: #ab9ae4, 9: #c0b2eb, 10: #d4cbf1);

$gray-shades: color-shades(#7f7f7f, 5, 99.55%);
// generated values for reference purposes only
@debug "$gray-shades:" $gray-shades;
$gray-shades-generated: (0: #010101, 1: #1a1a1a, 2: #333333, 3: #4c4c4c, 4: #666666, 5: #7f7f7f, 6: #989898, 7: #b2b2b2, 8: #cbcbcb, 9: #e5e5e5, 10: #fefefe);


$danger: #e05162;
$warning:  #f28622;
$accent: saturate(map-get($primary-shades, 10), 20%);
$success: map-get($primary-shades, 6);

$color-palette: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "danger": $danger,
  "warning": $warning,

  "white": #ffffff,
  "black": #000000,

  "primary-fg": #ffffff,
  "body-fg": map-get($gray-shades, 3),
  "body-bg":  tint(map-get($gray-shades, 9), 50%),
  "body-quiet-color": map-get($gray-shades, 5),
  "body-loud-color":map-get($gray-shades, 1),
  "header-color": map-get($gray-shades, 4),
  "header-branding-color": $primary,
  "header-bg": #ffffff,
  "header-link-color": map-get($gray-shades, 3),
  "breadcrumbs-fg": map-get($gray-shades, 3),
  "breadcrumbs-link-fg": map-get($gray-shades, 8),
  "breadcrumbs-bg":  #ffffff,
  "link-fg": map-get($primary-shades, 5),
  "link-hover-color": map-get($primary-shades, 6),
  "link-selected-fg": map-get($primary-shades, 3),
  "hairline-color": map-get($gray-shades, 9),
  "border-color": #dddddd,
  "error-fg": $danger,
  "message-success-bg": map-get($primary-shades, 9),
  "message-warning-bg": tint($warning, 0.38),
  "message-error-bg": tint($danger, 0.38),
  "darkened-bg": map-get($gray-shades, 10),
  "selected-bg": map-get($gray-shades, 8),
  "selected-row": map-get($secondary-shades, 10),
  "button-fg": map-get($gray-shades, 4),
  "button-bg": map-get($gray-shades, 9),
  "button-hover-bg":  map-get($gray-shades, 10),
  "default-button-bg": $primary,
  "default-button-hover-bg": map-get($primary-shades, 6),
  "close-button-bg": map-get($gray-shades, 6),
  "close-button-hover-bg": map-get($gray-shades, 7),
  "delete-button-bg": $danger,
  "delete-button-hover-bg": tint($danger, 0.1),
  "object-tools-fg": #ffffff,
  "object-tools-bg": map-get($gray-shades, 6),
  "object-tools-hover-bg": map-get($gray-shades, 7),


  "link-highlight-fg": $danger,
  "login-bg": linear-gradient($primary, map-get($secondary-shades, 8)),
  "login-modal-bg": #ffffff,
  "active-row": $accent,
  "content-bg":  #ffffff,
  "surface-fg":  #ffffff,

  "form-input-fg": map-get($gray-shades, 4),
  "form-input-focus-fg": $primary,
  "form-input-focus-bg": $accent,
  "form-fieldset-fg": $primary,
  "form-submit-row":  tint(map-get($gray-shades, 9), 75%),

  "lang-bar-fg": $secondary,
  "lang-bar-border-color": map-get($secondary-shades, 8),

  "button-default-fg": map-get($gray-shades, 4),
  "button-default-bg": map-get($gray-shades, 9),
  "button-default-border": transparent,

  "button-action-fg": #ffffff,
  "button-action-bg": $primary,

  "button-light-fg": map-get($gray-shades, 5),
  "button-light-bg": #ffffff,

  "button-danger-fg": #ffffff,
  "button-danger-bg": $danger,

  "button-selected-fg": $primary,
  "button-selected-bg": $accent,
  "button-selected-border": map-get($primary-shades, 7),

  "button-selected-lang-fg": $secondary,
  "button-selected-lang-bg":  map-get($secondary-shades, 10),
  "button-selected-lang-border": map-get($secondary-shades, 10),

  "date-time-caption-bg": $primary,
  "date-time-caption-fg": #ffffff,
  "date-time-selected-bg": $primary,
);

@include render-color-palette($color-palette);
