/* COLOR DEFINITIONS */
// https://mdigi.tools/color-shades/

// shades calculated from source color, steps from source to target (light/dark)
$primary: #1eb980;
$primary-shades: color-shades($color: $primary, $steps: 5, $range: 90%);
// generated values for reference purposes only
@debug "$primary-shades:" $primary-shades;
$primary-generated: (0: #03130d, 1: #083424, 2: #0e553b, 3: #137652, 4: #199869, 5: #1eb980, 6: #47c697, 7: #6fd2ae, 8: #98dfc5, 9: #c0ebdb, 10: #e9f8f2);

$secondary: #9e9513;
$secondary-shades: color-shades($secondary, 5, 65%);
// generated values for reference purposes only
@debug "$secondary-shades:" $secondary-shades;
$secondary-generated: (0: #3c3511, 1: #584d1a, 2: #736622, 3: #8f7e2a, 4: #ab9732, 5: #c7af3a, 6: #cfba56, 7: #d7c571, 8: #dfd18d, 9: #e6dca8, 10: #eee7c4);

$gray-shades: color-shades(#7f7f7f, 5, 99.55%);
// generated values for reference purposes only
@debug "$gray-shades:" $gray-shades;
$gray-shades-generated: (0: #010101, 1: #1a1a1a, 2: #333333, 3: #4c4c4c, 4: #666666, 5: #7f7f7f, 6: #989898, 7: #b2b2b2, 8: #cbcbcb, 9: #e5e5e5, 10: #fefefe);


$danger: #e05162;
$warning:  #f28622;
$accent: map-get($primary-shades, 9);
@debug "$accent:" $accent;
$success: map-get($primary-shades, 6);

$color-palette: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "danger": $danger,
  "warning": $warning,

  "primary-fg": map-get($gray-shades, 10),
  "body-fg": map-get($gray-shades, 3),
  "body-bg":  tint(map-get($gray-shades, 9), 50),
  "body-quiet-color": map-get($gray-shades, 5),
  "body-loud-color":map-get($gray-shades, 1),
  "header-color": map-get($gray-shades, 4),
  "header-branding-color": $primary,
  "header-bg": #ffffff,
  "header-link-color": map-get($gray-shades, 3),
  "breadcrumbs-fg": map-get($gray-shades, 3),
  "breadcrumbs-link-fg": map-get($gray-shades, 8),
  "breadcrumbs-bg":  #ffffff,
  "link-fg": map-get($primary-shades, 5),
  "link-hover-color": map-get($primary-shades, 6),
  "link-selected-fg": map-get($primary-shades, 3),
  "hairline-color": map-get($gray-shades, 9),
  "border-color": map-get($gray-shades, 9),
  "error-fg": $danger,
  "message-success-bg": map-get($primary-shades, 9),
  "message-warning-bg": tint($warning, 38),
  "message-error-bg": tint($danger, 38),
  "darkened-bg": map-get($gray-shades, 10),
  "selected-bg": map-get($gray-shades, 8),
  "selected-row": map-get($secondary-shades, 10),
  "button-fg": map-get($gray-shades, 4),
  "button-bg": map-get($gray-shades, 9),
  "button-hover-bg":  map-get($gray-shades, 10),
  "default-button-bg": $primary,
  "default-button-hover-bg": map-get($primary-shades, 6),
  "close-button-bg": map-get($gray-shades, 6),
  "close-button-hover-bg": map-get($gray-shades, 7),
  "delete-button-bg": $danger,
  "delete-button-hover-bg": tint($danger, 10),
  "object-tools-fg": #ffffff,
  "object-tools-bg": map-get($gray-shades, 6),
  "object-tools-hover-bg": map-get($gray-shades, 7),

  "link-highlight-fg": $danger,
  "login-bg": linear-gradient($primary, map-get($secondary-shades, 8)),
  "login-modal-bg": #ffffff,
  "active-row": $accent,
  "content-bg":  #ffffff,
  "surface-fg":  #ffffff,

  "form-input-fg": map-get($gray-shades, 4),
  "form-input-focus-fg": $primary,
  "form-input-focus-bg": $accent,
  "form-fieldset-fg": $primary,
  "form-submit-row":  tint(map-get($gray-shades, 9), 75),

  "lang-bar-fg": $secondary,
  "lang-bar-border-color": map-get($secondary-shades, 8),

  "button-default-fg": map-get($gray-shades, 4),
  "button-default-bg": map-get($gray-shades, 9),
  "button-default-border": transparent,

  "button-action-fg": #ffffff,
  "button-action-bg": $primary,

  "button-light-fg": map-get($gray-shades, 5),
  "button-light-bg": #ffffff,

  "button-danger-fg": #ffffff,
  "button-danger-bg": $danger,

  "button-selected-fg": $primary,
  "button-selected-bg": $accent,
  "button-selected-border": map-get($primary-shades, 7),

  "button-selected-lang-fg": #ffffff,
  "button-selected-lang-bg":  map-get($secondary-shades, 7),
  "button-selected-lang-border": map-get($secondary-shades, 7),

  "date-time-caption-bg": $primary,
  "date-time-caption-fg": #ffffff,
  "date-time-selected-bg": $primary,

  "footer-color": map-get($gray-shades, 5),
  "footer-link-color": map-get($primary-shades, 6),
);

$color-palette-dark: (
  "primary": map-get($primary-shades, 5),
  "secondary": $secondary,
  "accent": map-get($primary-shades, 2),
  "success": $success,
  "danger": $danger,
  "warning": $warning,

  "primary-fg": #ffffff,
  "body-fg": map-get($gray-shades, 7),
  "body-bg":  map-get($gray-shades, 1),
  "body-quiet-color": map-get($gray-shades, 8),
  "body-loud-color":map-get($gray-shades, 10),
  "header-color": map-get($gray-shades, 4),
  "header-branding-color": $primary,
  "header-bg": map-get($gray-shades, 2),
  "header-link-color": map-get($gray-shades, 9),
  "breadcrumbs-fg": map-get($gray-shades, 3),
  "breadcrumbs-link-fg": map-get($gray-shades, 8),
  "breadcrumbs-bg":  map-get($gray-shades, 2),
  "link-fg": map-get($primary-shades, 5),
  "link-hover-color": map-get($primary-shades, 6),
  "link-selected-fg": map-get($primary-shades, 3),
  "hairline-color": map-get($gray-shades, 4),
  "border-color": map-get($gray-shades, 5),
  "error-fg": $danger,
  "message-success-bg": map-get($primary-shades, 1),
  "message-warning-bg": tint($warning, 38),
  "message-error-bg": tint($danger, 38),
  "darkened-bg": map-get($gray-shades, 2),
  "selected-bg": map-get($gray-shades, 8),
  "selected-row": map-get($secondary-shades, 10),
  "button-fg": map-get($gray-shades, 4),
  "button-bg": map-get($gray-shades, 9),
  "button-hover-bg":  map-get($gray-shades, 10),
  "default-button-bg": $primary,
  "default-button-hover-bg": map-get($primary-shades, 6),
  "close-button-bg": map-get($gray-shades, 6),
  "close-button-hover-bg": map-get($gray-shades, 7),
  "delete-button-bg": $danger,
  "delete-button-hover-bg": tint($danger, 10),
  "object-tools-fg": #ffffff,
  "object-tools-bg": map-get($gray-shades, 6),
  "object-tools-hover-bg": map-get($gray-shades, 7),

  "link-highlight-fg": $danger,
  "login-bg": linear-gradient($primary, map-get($secondary-shades, 8)),
  "login-modal-bg": map-get($gray-shades, 2),
  "active-row": saturate(map-get($primary-shades, 1), 10%),
  "content-bg":  map-get($gray-shades, 2),
  "surface-fg":  #ffffff,

  "form-input-fg": map-get($gray-shades, 8),
  "form-input-focus-fg": $primary,
  "form-input-focus-bg": saturate(map-get($primary-shades, 1), 10%),
  "form-fieldset-fg": $primary,
  "form-submit-row":  map-get($gray-shades, 3),

  "lang-bar-fg": map-get($secondary-shades, 8),
  "lang-bar-border-color": map-get($secondary-shades, 8),

  "button-default-fg": map-get($gray-shades, 7),
  "button-default-bg": map-get($gray-shades, 2),
  "button-default-border": transparent,

  "button-action-fg": map-get($gray-shades, 9),
  "button-action-bg": map-get($primary-shades, 4),

  "button-light-fg": map-get($gray-shades, 8),
  "button-light-bg": map-get($gray-shades, 2),

  "button-danger-fg": #ffffff,
  "button-danger-bg": $danger,

  "button-selected-fg": $primary,
  "button-selected-bg": $accent,
  "button-selected-border": map-get($primary-shades, 7),

  "button-selected-lang-fg": $secondary,
  "button-selected-lang-bg":  map-get($secondary-shades, 10),
  "button-selected-lang-border": map-get($secondary-shades, 10),

  "date-time-caption-bg": $primary,
  "date-time-caption-fg": #ffffff,
  "date-time-selected-bg": $primary,

  "footer-color": map-get($gray-shades, 4),
  "footer-link-color": map-get($primary-shades, 6),
);

@include render-color-palette($color-palette);

@media (prefers-color-scheme: dark) {
  @include render-color-palette($color-palette-dark);
}
