:root {
  //GLOBAL
  --page-outer-spacing: 5%;
  --default-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  --default-border-size-large: 3px;

  //HEADER
  --header-height: 46px;
  --header-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  --header-border: 1px solid var(--border-color);
  --header-spacing: 20px;

  //FONTS
  --font-size-large: 15px;
  --font-size: 13px;
  --font-size-small: 11px;

  //NAV SIDEBAR
  --nav-sidebar-width: 23px;

  //ICONS
  --icon-spacing: 7px;
  --icon-size: 18px;
  --icon-size-large: 24px;

  //FORMS
  --form-border-radius: 0;
  --form-input-height: 32px;
  --form-spacing: 30px;

  //COLLAPSIBLE FIELDSETS
  --collapse-border-left-size: 3px;

  //BUTTONS
  --button-border-radius: 4px;
  --button-border-size: 1px;
  --button-height: 32px;

  //FILTER PANEL
  --filter-panel-width: 240px;

  //SIDEBAR
  --sidebar-width: 25%;

  //MODULE
  --module-border-radius: 4px;
}
