#change-history tbody td.drag,
#result_list div.drag,
.change-list table tbody td.drag,
.dashboard table tbody td.drag,
.results table tbody td.drag,
.tabular table tbody td.drag,
.field-tree_actions .drag-handle {
  width: 16px !important;
  min-height: 30px;
  padding: 0 !important;

  background: url(./../asset/img/drag-norepeat.png) 5px no-repeat !important;
  background-size: 8px 30px !important;
  cursor: move !important;
}



.cms-admin-modal {
  background-color: var(--content-bg);

  #header {
    display: none;
  }

  .object-tools {
    .historylink,
    .viewsitelink {
      display: none;
    }
  }

  &.delete-confirmation {
    padding: 20px;

    h2 {
      padding-top: 15px;
    }
  }
}

.change-form {
  form {
    > div {
      > p {
        padding: 30px 30px 15px;
      }
    }
  }
}

.slick-admin {
  .related-widget-wrapper .selector-chosen {
    select {
      border-right: 1px solid var(--primary);
      border-bottom: 1px solid var(--primary);
      border-left: 1px solid var(--primary);

      option {
        padding-left: 0;
      }
    }

    h2 {
      border-top: 1px solid var(--primary);
      border-right: 1px solid var(--primary);
      border-left: 1px solid var(--primary);
    }
  }
}
