/*
DJANGO Admin styles
direct overwrites
*/

tr.alt {
  background: var(--content-bg);
}

tr:nth-child(odd), .row-form-errors {
  background: var(--content-bg);
}

tr:nth-child(even),
tr:nth-child(even) .errorlist,
tr:nth-child(odd) + .row-form-errors,
tr:nth-child(odd) + .row-form-errors .errorlist {
  background: var(--content-bg);
}

td, th {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + (var(--font-size) / 3));
}

input,
textarea,
select,
.form-row p,
form .button {
  font-size: var(--font-size);
}

li,
dt,
dd {
  font-size: var(--font-size);
  line-height: calc(var(--font-size) + (var(--font-size) / 2));
}

#content-related h4 {
  font-size: var(--font-size);
}

ul.errorlist li {
  font-size: var(--font-size);
}

.module h2,
.module caption, .inline-group h2 {
  font-size: var(--font-size);
}

ul.messagelist li {
  font-size: var(--font-size);
}

#content-related .actionlist {
  li {
    margin-bottom: 0;
    padding: 12px 8px;

    font-weight: 400;

    border-bottom: 1px solid var(--border-color);

    &:first-child {
      border-top: 1px solid var(--border-color);
    }

    span.mini {
      float: right;
    }
    br {
      display: none;
    }
  }
}
