//##############################################################################
// MATERIAL DESIGN ICONS BY GOOGLE
//
//
// https://material.io/icons/
//
//#############################################################################

.md-icon {
  //&.\33 d_rotation::before
  // content: "\e84d"

  &.ac_unit::before {
    content: "";
  }

  &.access_alarm::before {
    content: "";
  }

  &.access_alarms::before {
    content: "";
  }

  &.access_time::before {
    content: "";
  }

  &.accessibility::before {
    content: "";
  }

  &.accessible::before {
    content: "";
  }

  &.account_balance::before {
    content: "";
  }

  &.account_balance_wallet::before {
    content: "";
  }

  &.account_box::before {
    content: "";
  }

  &.account_circle::before {
    content: "";
  }

  &.adb::before {
    content: "";
  }

  &.add::before {
    content: "";
  }

  &.add_a_photo::before {
    content: "";
  }

  &.add_alarm::before {
    content: "";
  }

  &.add_alert::before {
    content: "";
  }

  &.add_box::before {
    content: "";
  }

  &.add_circle::before {
    content: "";
  }

  &.add_circle_outline::before {
    content: "";
  }

  &.add_location::before {
    content: "";
  }

  &.add_shopping_cart::before {
    content: "";
  }

  &.add_to_photos::before {
    content: "";
  }

  &.add_to_queue::before {
    content: "";
  }

  &.adjust::before {
    content: "";
  }

  &.airline_seat_flat::before {
    content: "";
  }

  &.airline_seat_flat_angled::before {
    content: "";
  }

  &.airline_seat_individual_suite::before {
    content: "";
  }

  &.airline_seat_legroom_extra::before {
    content: "";
  }

  &.airline_seat_legroom_normal::before {
    content: "";
  }

  &.airline_seat_legroom_reduced::before {
    content: "";
  }

  &.airline_seat_recline_extra::before {
    content: "";
  }

  &.airline_seat_recline_normal::before {
    content: "";
  }

  &.airplanemode_active::before {
    content: "";
  }

  &.airplanemode_inactive::before {
    content: "";
  }

  &.airplay::before {
    content: "";
  }

  &.airport_shuttle::before {
    content: "";
  }

  &.alarm::before {
    content: "";
  }

  &.alarm_add::before {
    content: "";
  }

  &.alarm_off::before {
    content: "";
  }

  &.alarm_on::before {
    content: "";
  }

  &.album::before {
    content: "";
  }

  &.all_inclusive::before {
    content: "";
  }

  &.all_out::before {
    content: "";
  }

  &.android::before {
    content: "";
  }

  &.announcement::before {
    content: "";
  }

  &.apps::before {
    content: "";
  }

  &.archive::before {
    content: "";
  }

  &.arrow_back::before {
    content: "";
  }

  &.arrow_downward::before {
    content: "";
  }

  &.arrow_drop_down::before {
    content: "";
  }

  &.arrow_drop_down_circle::before {
    content: "";
  }

  &.arrow_drop_up::before {
    content: "";
  }

  &.arrow_forward::before {
    content: "";
  }

  &.arrow_upward::before {
    content: "";
  }

  &.art_track::before {
    content: "";
  }

  &.aspect_ratio::before {
    content: "";
  }

  &.assessment::before {
    content: "";
  }

  &.assignment::before {
    content: "";
  }

  &.assignment_ind::before {
    content: "";
  }

  &.assignment_late::before {
    content: "";
  }

  &.assignment_return::before {
    content: "";
  }

  &.assignment_returned::before {
    content: "";
  }

  &.assignment_turned_in::before {
    content: "";
  }

  &.assistant::before {
    content: "";
  }

  &.assistant_photo::before {
    content: "";
  }

  &.attach_file::before {
    content: "";
  }

  &.attach_money::before {
    content: "";
  }

  &.attachment::before {
    content: "";
  }

  &.audiotrack::before {
    content: "";
  }

  &.autorenew::before {
    content: "";
  }

  &.av_timer::before {
    content: "";
  }

  &.backspace::before {
    content: "";
  }

  &.backup::before {
    content: "";
  }

  &.battery_alert::before {
    content: "";
  }

  &.battery_charging_full::before {
    content: "";
  }

  &.battery_full::before {
    content: "";
  }

  &.battery_std::before {
    content: "";
  }

  &.battery_unknown::before {
    content: "";
  }

  &.beach_access::before {
    content: "";
  }

  &.beenhere::before {
    content: "";
  }

  &.block::before {
    content: "";
  }

  &.bluetooth::before {
    content: "";
  }

  &.bluetooth_audio::before {
    content: "";
  }

  &.bluetooth_connected::before {
    content: "";
  }

  &.bluetooth_disabled::before {
    content: "";
  }

  &.bluetooth_searching::before {
    content: "";
  }

  &.blur_circular::before {
    content: "";
  }

  &.blur_linear::before {
    content: "";
  }

  &.blur_off::before {
    content: "";
  }

  &.blur_on::before {
    content: "";
  }

  &.book::before {
    content: "";
  }

  &.bookmark::before {
    content: "";
  }

  &.bookmark_border::before {
    content: "";
  }

  &.border_all::before {
    content: "";
  }

  &.border_bottom::before {
    content: "";
  }

  &.border_clear::before {
    content: "";
  }

  &.border_color::before {
    content: "";
  }

  &.border_horizontal::before {
    content: "";
  }

  &.border_inner::before {
    content: "";
  }

  &.border_left::before {
    content: "";
  }

  &.border_outer::before {
    content: "";
  }

  &.border_right::before {
    content: "";
  }

  &.border_style::before {
    content: "";
  }

  &.border_top::before {
    content: "";
  }

  &.border_vertical::before {
    content: "";
  }

  &.branding_watermark::before {
    content: "";
  }

  &.brightness_1::before {
    content: "";
  }

  &.brightness_2::before {
    content: "";
  }

  &.brightness_3::before {
    content: "";
  }

  &.brightness_4::before {
    content: "";
  }

  &.brightness_5::before {
    content: "";
  }

  &.brightness_6::before {
    content: "";
  }

  &.brightness_7::before {
    content: "";
  }

  &.brightness_auto::before {
    content: "";
  }

  &.brightness_high::before {
    content: "";
  }

  &.brightness_low::before {
    content: "";
  }

  &.brightness_medium::before {
    content: "";
  }

  &.broken_image::before {
    content: "";
  }

  &.brush::before {
    content: "";
  }

  &.bubble_chart::before {
    content: "";
  }

  &.bug_report::before {
    content: "";
  }

  &.build::before {
    content: "";
  }

  &.burst_mode::before {
    content: "";
  }

  &.business::before {
    content: "";
  }

  &.business_center::before {
    content: "";
  }

  &.cached::before {
    content: "";
  }

  &.cake::before {
    content: "";
  }

  &.call::before {
    content: "";
  }

  &.call_end::before {
    content: "";
  }

  &.call_made::before {
    content: "";
  }

  &.call_merge::before {
    content: "";
  }

  &.call_missed::before {
    content: "";
  }

  &.call_missed_outgoing::before {
    content: "";
  }

  &.call_received::before {
    content: "";
  }

  &.call_split::before {
    content: "";
  }

  &.call_to_action::before {
    content: "";
  }

  &.camera::before {
    content: "";
  }

  &.camera_alt::before {
    content: "";
  }

  &.camera_enhance::before {
    content: "";
  }

  &.camera_front::before {
    content: "";
  }

  &.camera_rear::before {
    content: "";
  }

  &.camera_roll::before {
    content: "";
  }

  &.cancel::before {
    content: "";
  }

  &.card_giftcard::before {
    content: "";
  }

  &.card_membership::before {
    content: "";
  }

  &.card_travel::before {
    content: "";
  }

  &.casino::before {
    content: "";
  }

  &.cast::before {
    content: "";
  }

  &.cast_connected::before {
    content: "";
  }

  &.center_focus_strong::before {
    content: "";
  }

  &.center_focus_weak::before {
    content: "";
  }

  &.change_history::before {
    content: "";
  }

  &.chat::before {
    content: "";
  }

  &.chat_bubble::before {
    content: "";
  }

  &.chat_bubble_outline::before {
    content: "";
  }

  &.check::before {
    content: "";
  }

  &.check_box::before {
    content: "";
  }

  &.check_box_outline_blank::before {
    content: "";
  }

  &.check_circle::before {
    content: "";
  }

  &.chevron_left::before {
    content: "";
  }

  &.chevron_right::before {
    content: "";
  }

  &.child_care::before {
    content: "";
  }

  &.child_friendly::before {
    content: "";
  }

  &.chrome_reader_mode::before {
    content: "";
  }

  &.class::before {
    content: "";
  }

  &.clear::before {
    content: "";
  }

  &.clear_all::before {
    content: "";
  }

  &.close::before {
    content: "";
  }

  &.closed_caption::before {
    content: "";
  }

  &.cloud::before {
    content: "";
  }

  &.cloud_circle::before {
    content: "";
  }

  &.cloud_done::before {
    content: "";
  }

  &.cloud_download::before {
    content: "";
  }

  &.cloud_off::before {
    content: "";
  }

  &.cloud_queue::before {
    content: "";
  }

  &.cloud_upload::before {
    content: "";
  }

  &.code::before {
    content: "";
  }

  &.collections::before {
    content: "";
  }

  &.collections_bookmark::before {
    content: "";
  }

  &.color_lens::before {
    content: "";
  }

  &.colorize::before {
    content: "";
  }

  &.comment::before {
    content: "";
  }

  &.compare::before {
    content: "";
  }

  &.compare_arrows::before {
    content: "";
  }

  &.computer::before {
    content: "";
  }

  &.confirmation_number::before {
    content: "";
  }

  &.contact_mail::before {
    content: "";
  }

  &.contact_phone::before {
    content: "";
  }

  &.contacts::before {
    content: "";
  }

  &.content_copy::before {
    content: "";
  }

  &.content_cut::before {
    content: "";
  }

  &.content_paste::before {
    content: "";
  }

  &.control_point::before {
    content: "";
  }

  &.control_point_duplicate::before {
    content: "";
  }

  &.copyright::before {
    content: "";
  }

  &.create::before {
    content: "";
  }

  &.create_new_folder::before {
    content: "";
  }

  &.credit_card::before {
    content: "";
  }

  &.crop::before {
    content: "";
  }

  &.crop_16_9::before {
    content: "";
  }

  &.crop_3_2::before {
    content: "";
  }

  &.crop_5_4::before {
    content: "";
  }

  &.crop_7_5::before {
    content: "";
  }

  &.crop_din::before {
    content: "";
  }

  &.crop_free::before {
    content: "";
  }

  &.crop_landscape::before {
    content: "";
  }

  &.crop_original::before {
    content: "";
  }

  &.crop_portrait::before {
    content: "";
  }

  &.crop_rotate::before {
    content: "";
  }

  &.crop_square::before {
    content: "";
  }

  &.dashboard::before {
    content: "";
  }

  &.data_usage::before {
    content: "";
  }

  &.date_range::before {
    content: "";
  }

  &.dehaze::before {
    content: "";
  }

  &.delete::before {
    content: "";
  }

  &.delete_forever::before {
    content: "";
  }

  &.delete_sweep::before {
    content: "";
  }

  &.description::before {
    content: "";
  }

  &.desktop_mac::before {
    content: "";
  }

  &.desktop_windows::before {
    content: "";
  }

  &.details::before {
    content: "";
  }

  &.developer_board::before {
    content: "";
  }

  &.developer_mode::before {
    content: "";
  }

  &.device_hub::before {
    content: "";
  }

  &.devices::before {
    content: "";
  }

  &.devices_other::before {
    content: "";
  }

  &.dialer_sip::before {
    content: "";
  }

  &.dialpad::before {
    content: "";
  }

  &.directions::before {
    content: "";
  }

  &.directions_bike::before {
    content: "";
  }

  &.directions_boat::before {
    content: "";
  }

  &.directions_bus::before {
    content: "";
  }

  &.directions_car::before {
    content: "";
  }

  &.directions_railway::before {
    content: "";
  }

  &.directions_run::before {
    content: "";
  }

  &.directions_subway::before {
    content: "";
  }

  &.directions_transit::before {
    content: "";
  }

  &.directions_walk::before {
    content: "";
  }

  &.disc_full::before {
    content: "";
  }

  &.dns::before {
    content: "";
  }

  &.do_not_disturb::before {
    content: "";
  }

  &.do_not_disturb_alt::before {
    content: "";
  }

  &.do_not_disturb_off::before {
    content: "";
  }

  &.do_not_disturb_on::before {
    content: "";
  }

  &.dock::before {
    content: "";
  }

  &.domain::before {
    content: "";
  }

  &.done::before {
    content: "";
  }

  &.done_all::before {
    content: "";
  }

  &.donut_large::before {
    content: "";
  }

  &.donut_small::before {
    content: "";
  }

  &.drafts::before {
    content: "";
  }

  &.drag_handle::before {
    content: "";
  }

  &.drive_eta::before {
    content: "";
  }

  &.dvr::before {
    content: "";
  }

  &.edit::before {
    content: "";
  }

  &.edit_location::before {
    content: "";
  }

  &.eject::before {
    content: "";
  }

  &.email::before {
    content: "";
  }

  &.enhanced_encryption::before {
    content: "";
  }

  &.equalizer::before {
    content: "";
  }

  &.error::before {
    content: "";
  }

  &.error_outline::before {
    content: "";
  }

  &.euro_symbol::before {
    content: "";
  }

  &.ev_station::before {
    content: "";
  }

  &.event::before {
    content: "";
  }

  &.event_available::before {
    content: "";
  }

  &.event_busy::before {
    content: "";
  }

  &.event_note::before {
    content: "";
  }

  &.event_seat::before {
    content: "";
  }

  &.exit_to_app::before {
    content: "";
  }

  &.expand_less::before {
    content: "";
  }

  &.expand_more::before {
    content: "";
  }

  &.explicit::before {
    content: "";
  }

  &.explore::before {
    content: "";
  }

  &.exposure::before {
    content: "";
  }

  &.exposure_neg_1::before {
    content: "";
  }

  &.exposure_neg_2::before {
    content: "";
  }

  &.exposure_plus_1::before {
    content: "";
  }

  &.exposure_plus_2::before {
    content: "";
  }

  &.exposure_zero::before {
    content: "";
  }

  &.extension::before {
    content: "";
  }

  &.face::before {
    content: "";
  }

  &.fast_forward::before {
    content: "";
  }

  &.fast_rewind::before {
    content: "";
  }

  &.favorite::before {
    content: "";
  }

  &.favorite_border::before {
    content: "";
  }

  &.featured_play_list::before {
    content: "";
  }

  &.featured_video::before {
    content: "";
  }

  &.feedback::before {
    content: "";
  }

  &.fiber_dvr::before {
    content: "";
  }

  &.fiber_manual_record::before {
    content: "";
  }

  &.fiber_new::before {
    content: "";
  }

  &.fiber_pin::before {
    content: "";
  }

  &.fiber_smart_record::before {
    content: "";
  }

  &.file_download::before {
    content: "";
  }

  &.file_upload::before {
    content: "";
  }

  &.filter::before {
    content: "";
  }

  &.filter_1::before {
    content: "";
  }

  &.filter_2::before {
    content: "";
  }

  &.filter_3::before {
    content: "";
  }

  &.filter_4::before {
    content: "";
  }

  &.filter_5::before {
    content: "";
  }

  &.filter_6::before {
    content: "";
  }

  &.filter_7::before {
    content: "";
  }

  &.filter_8::before {
    content: "";
  }

  &.filter_9::before {
    content: "";
  }

  &.filter_9_plus::before {
    content: "";
  }

  &.filter_b_and_w::before {
    content: "";
  }

  &.filter_center_focus::before {
    content: "";
  }

  &.filter_drama::before {
    content: "";
  }

  &.filter_frames::before {
    content: "";
  }

  &.filter_hdr::before {
    content: "";
  }

  &.filter_list::before {
    content: "";
  }

  &.filter_none::before {
    content: "";
  }

  &.filter_tilt_shift::before {
    content: "";
  }

  &.filter_vintage::before {
    content: "";
  }

  &.find_in_page::before {
    content: "";
  }

  &.find_replace::before {
    content: "";
  }

  &.fingerprint::before {
    content: "";
  }

  &.first_page::before {
    content: "";
  }

  &.fitness_center::before {
    content: "";
  }

  &.flag::before {
    content: "";
  }

  &.flare::before {
    content: "";
  }

  &.flash_auto::before {
    content: "";
  }

  &.flash_off::before {
    content: "";
  }

  &.flash_on::before {
    content: "";
  }

  &.flight::before {
    content: "";
  }

  &.flight_land::before {
    content: "";
  }

  &.flight_takeoff::before {
    content: "";
  }

  &.flip::before {
    content: "";
  }

  &.flip_to_back::before {
    content: "";
  }

  &.flip_to_front::before {
    content: "";
  }

  &.folder::before {
    content: "";
  }

  &.folder_open::before {
    content: "";
  }

  &.folder_shared::before {
    content: "";
  }

  &.folder_special::before {
    content: "";
  }

  &.font_download::before {
    content: "";
  }

  &.format_align_center::before {
    content: "";
  }

  &.format_align_justify::before {
    content: "";
  }

  &.format_align_left::before {
    content: "";
  }

  &.format_align_right::before {
    content: "";
  }

  &.format_bold::before {
    content: "";
  }

  &.format_clear::before {
    content: "";
  }

  &.format_color_fill::before {
    content: "";
  }

  &.format_color_reset::before {
    content: "";
  }

  &.format_color_text::before {
    content: "";
  }

  &.format_indent_decrease::before {
    content: "";
  }

  &.format_indent_increase::before {
    content: "";
  }

  &.format_italic::before {
    content: "";
  }

  &.format_line_spacing::before {
    content: "";
  }

  &.format_list_bulleted::before {
    content: "";
  }

  &.format_list_numbered::before {
    content: "";
  }

  &.format_paint::before {
    content: "";
  }

  &.format_quote::before {
    content: "";
  }

  &.format_shapes::before {
    content: "";
  }

  &.format_size::before {
    content: "";
  }

  &.format_strikethrough::before {
    content: "";
  }

  &.format_textdirection_l_to_r::before {
    content: "";
  }

  &.format_textdirection_r_to_l::before {
    content: "";
  }

  &.format_underlined::before {
    content: "";
  }

  &.forum::before {
    content: "";
  }

  &.forward::before {
    content: "";
  }

  &.forward_10::before {
    content: "";
  }

  &.forward_30::before {
    content: "";
  }

  &.forward_5::before {
    content: "";
  }

  &.free_breakfast::before {
    content: "";
  }

  &.fullscreen::before {
    content: "";
  }

  &.fullscreen_exit::before {
    content: "";
  }

  &.functions::before {
    content: "";
  }

  &.g_translate::before {
    content: "";
  }

  &.gamepad::before {
    content: "";
  }

  &.games::before {
    content: "";
  }

  &.gavel::before {
    content: "";
  }

  &.gesture::before {
    content: "";
  }

  &.get_app::before {
    content: "";
  }

  &.gif::before {
    content: "";
  }

  &.golf_course::before {
    content: "";
  }

  &.gps_fixed::before {
    content: "";
  }

  &.gps_not_fixed::before {
    content: "";
  }

  &.gps_off::before {
    content: "";
  }

  &.grade::before {
    content: "";
  }

  &.gradient::before {
    content: "";
  }

  &.grain::before {
    content: "";
  }

  &.graphic_eq::before {
    content: "";
  }

  &.grid_off::before {
    content: "";
  }

  &.grid_on::before {
    content: "";
  }

  &.group::before {
    content: "";
  }

  &.group_add::before {
    content: "";
  }

  &.group_work::before {
    content: "";
  }

  &.hd::before {
    content: "";
  }

  &.hdr_off::before {
    content: "";
  }

  &.hdr_on::before {
    content: "";
  }

  &.hdr_strong::before {
    content: "";
  }

  &.hdr_weak::before {
    content: "";
  }

  &.headset::before {
    content: "";
  }

  &.headset_mic::before {
    content: "";
  }

  &.healing::before {
    content: "";
  }

  &.hearing::before {
    content: "";
  }

  &.help::before {
    content: "";
  }

  &.help_outline::before {
    content: "";
  }

  &.high_quality::before {
    content: "";
  }

  &.highlight::before {
    content: "";
  }

  &.highlight_off::before {
    content: "";
  }

  &.history::before {
    content: "";
  }

  &.home::before {
    content: "";
  }

  &.hot_tub::before {
    content: "";
  }

  &.hotel::before {
    content: "";
  }

  &.hourglass_empty::before {
    content: "";
  }

  &.hourglass_full::before {
    content: "";
  }

  &.http::before {
    content: "";
  }

  &.https::before {
    content: "";
  }

  &.image::before {
    content: "";
  }

  &.image_aspect_ratio::before {
    content: "";
  }

  &.import_contacts::before {
    content: "";
  }

  &.import_export::before {
    content: "";
  }

  &.important_devices::before {
    content: "";
  }

  &.inbox::before {
    content: "";
  }

  &.indeterminate_check_box::before {
    content: "";
  }

  &.info::before {
    content: "";
  }

  &.info_outline::before {
    content: "";
  }

  &.input::before {
    content: "";
  }

  &.insert_chart::before {
    content: "";
  }

  &.insert_comment::before {
    content: "";
  }

  &.insert_drive_file::before {
    content: "";
  }

  &.insert_emoticon::before {
    content: "";
  }

  &.insert_invitation::before {
    content: "";
  }

  &.insert_link::before {
    content: "";
  }

  &.insert_photo::before {
    content: "";
  }

  &.invert_colors::before {
    content: "";
  }

  &.invert_colors_off::before {
    content: "";
  }

  &.iso::before {
    content: "";
  }

  &.keyboard::before {
    content: "";
  }

  &.keyboard_arrow_down::before {
    content: "";
  }

  &.keyboard_arrow_left::before {
    content: "";
  }

  &.keyboard_arrow_right::before {
    content: "";
  }

  &.keyboard_arrow_up::before {
    content: "";
  }

  &.keyboard_backspace::before {
    content: "";
  }

  &.keyboard_capslock::before {
    content: "";
  }

  &.keyboard_hide::before {
    content: "";
  }

  &.keyboard_return::before {
    content: "";
  }

  &.keyboard_tab::before {
    content: "";
  }

  &.keyboard_voice::before {
    content: "";
  }

  &.kitchen::before {
    content: "";
  }

  &.label::before {
    content: "";
  }

  &.label_outline::before {
    content: "";
  }

  &.landscape::before {
    content: "";
  }

  &.language::before {
    content: "";
  }

  &.laptop::before {
    content: "";
  }

  &.laptop_chromebook::before {
    content: "";
  }

  &.laptop_mac::before {
    content: "";
  }

  &.laptop_windows::before {
    content: "";
  }

  &.last_page::before {
    content: "";
  }

  &.launch::before {
    content: "";
  }

  &.layers::before {
    content: "";
  }

  &.layers_clear::before {
    content: "";
  }

  &.leak_add::before {
    content: "";
  }

  &.leak_remove::before {
    content: "";
  }

  &.lens::before {
    content: "";
  }

  &.library_add::before {
    content: "";
  }

  &.library_books::before {
    content: "";
  }

  &.library_music::before {
    content: "";
  }

  &.lightbulb_outline::before {
    content: "";
  }

  &.line_style::before {
    content: "";
  }

  &.line_weight::before {
    content: "";
  }

  &.linear_scale::before {
    content: "";
  }

  &.link::before {
    content: "";
  }

  &.linked_camera::before {
    content: "";
  }

  &.list::before {
    content: "";
  }

  &.live_help::before {
    content: "";
  }

  &.live_tv::before {
    content: "";
  }

  &.local_activity::before {
    content: "";
  }

  &.local_airport::before {
    content: "";
  }

  &.local_atm::before {
    content: "";
  }

  &.local_bar::before {
    content: "";
  }

  &.local_cafe::before {
    content: "";
  }

  &.local_car_wash::before {
    content: "";
  }

  &.local_convenience_store::before {
    content: "";
  }

  &.local_dining::before {
    content: "";
  }

  &.local_drink::before {
    content: "";
  }

  &.local_florist::before {
    content: "";
  }

  &.local_gas_station::before {
    content: "";
  }

  &.local_grocery_store::before {
    content: "";
  }

  &.local_hospital::before {
    content: "";
  }

  &.local_hotel::before {
    content: "";
  }

  &.local_laundry_service::before {
    content: "";
  }

  &.local_library::before {
    content: "";
  }

  &.local_mall::before {
    content: "";
  }

  &.local_movies::before {
    content: "";
  }

  &.local_offer::before {
    content: "";
  }

  &.local_parking::before {
    content: "";
  }

  &.local_pharmacy::before {
    content: "";
  }

  &.local_phone::before {
    content: "";
  }

  &.local_pizza::before {
    content: "";
  }

  &.local_play::before {
    content: "";
  }

  &.local_post_office::before {
    content: "";
  }

  &.local_printshop::before {
    content: "";
  }

  &.local_see::before {
    content: "";
  }

  &.local_shipping::before {
    content: "";
  }

  &.local_taxi::before {
    content: "";
  }

  &.location_city::before {
    content: "";
  }

  &.location_disabled::before {
    content: "";
  }

  &.location_off::before {
    content: "";
  }

  &.location_on::before {
    content: "";
  }

  &.location_searching::before {
    content: "";
  }

  &.lock::before {
    content: "";
  }

  &.lock_open::before {
    content: "";
  }

  &.lock_outline::before {
    content: "";
  }

  &.looks::before {
    content: "";
  }

  &.looks_3::before {
    content: "";
  }

  &.looks_4::before {
    content: "";
  }

  &.looks_5::before {
    content: "";
  }

  &.looks_6::before {
    content: "";
  }

  &.looks_one::before {
    content: "";
  }

  &.looks_two::before {
    content: "";
  }

  &.loop::before {
    content: "";
  }

  &.loupe::before {
    content: "";
  }

  &.low_priority::before {
    content: "";
  }

  &.loyalty::before {
    content: "";
  }

  &.mail::before {
    content: "";
  }

  &.mail_outline::before {
    content: "";
  }

  &.map::before {
    content: "";
  }

  &.markunread::before {
    content: "";
  }

  &.markunread_mailbox::before {
    content: "";
  }

  &.memory::before {
    content: "";
  }

  &.menu::before {
    content: "";
  }

  &.merge_type::before {
    content: "";
  }

  &.message::before {
    content: "";
  }

  &.mic::before {
    content: "";
  }

  &.mic_none::before {
    content: "";
  }

  &.mic_off::before {
    content: "";
  }

  &.mms::before {
    content: "";
  }

  &.mode_comment::before {
    content: "";
  }

  &.mode_edit::before {
    content: "";
  }

  &.monetization_on::before {
    content: "";
  }

  &.money_off::before {
    content: "";
  }

  &.monochrome_photos::before {
    content: "";
  }

  &.mood::before {
    content: "";
  }

  &.mood_bad::before {
    content: "";
  }

  &.more::before {
    content: "";
  }

  &.more_horiz::before {
    content: "";
  }

  &.more_vert::before {
    content: "";
  }

  &.motorcycle::before {
    content: "";
  }

  &.mouse::before {
    content: "";
  }

  &.move_to_inbox::before {
    content: "";
  }

  &.movie::before {
    content: "";
  }

  &.movie_creation::before {
    content: "";
  }

  &.movie_filter::before {
    content: "";
  }

  &.multiline_chart::before {
    content: "";
  }

  &.music_note::before {
    content: "";
  }

  &.music_video::before {
    content: "";
  }

  &.my_location::before {
    content: "";
  }

  &.nature::before {
    content: "";
  }

  &.nature_people::before {
    content: "";
  }

  &.navigate_before::before {
    content: "";
  }

  &.navigate_next::before {
    content: "";
  }

  &.navigation::before {
    content: "";
  }

  &.near_me::before {
    content: "";
  }

  &.network_cell::before {
    content: "";
  }

  &.network_check::before {
    content: "";
  }

  &.network_locked::before {
    content: "";
  }

  &.network_wifi::before {
    content: "";
  }

  &.new_releases::before {
    content: "";
  }

  &.next_week::before {
    content: "";
  }

  &.nfc::before {
    content: "";
  }

  &.no_encryption::before {
    content: "";
  }

  &.no_sim::before {
    content: "";
  }

  &.not_interested::before {
    content: "";
  }

  &.note::before {
    content: "";
  }

  &.note_add::before {
    content: "";
  }

  &.notifications::before {
    content: "";
  }

  &.notifications_active::before {
    content: "";
  }

  &.notifications_none::before {
    content: "";
  }

  &.notifications_off::before {
    content: "";
  }

  &.notifications_paused::before {
    content: "";
  }

  &.offline_pin::before {
    content: "";
  }

  &.ondemand_video::before {
    content: "";
  }

  &.opacity::before {
    content: "";
  }

  &.open_in_browser::before {
    content: "";
  }

  &.open_in_new::before {
    content: "";
  }

  &.open_with::before {
    content: "";
  }

  &.pages::before {
    content: "";
  }

  &.pageview::before {
    content: "";
  }

  &.palette::before {
    content: "";
  }

  &.pan_tool::before {
    content: "";
  }

  &.panorama::before {
    content: "";
  }

  &.panorama_fish_eye::before {
    content: "";
  }

  &.panorama_horizontal::before {
    content: "";
  }

  &.panorama_vertical::before {
    content: "";
  }

  &.panorama_wide_angle::before {
    content: "";
  }

  &.party_mode::before {
    content: "";
  }

  &.pause::before {
    content: "";
  }

  &.pause_circle_filled::before {
    content: "";
  }

  &.pause_circle_outline::before {
    content: "";
  }

  &.payment::before {
    content: "";
  }

  &.people::before {
    content: "";
  }

  &.people_outline::before {
    content: "";
  }

  &.perm_camera_mic::before {
    content: "";
  }

  &.perm_contact_calendar::before {
    content: "";
  }

  &.perm_data_setting::before {
    content: "";
  }

  &.perm_device_information::before {
    content: "";
  }

  &.perm_identity::before {
    content: "";
  }

  &.perm_media::before {
    content: "";
  }

  &.perm_phone_msg::before {
    content: "";
  }

  &.perm_scan_wifi::before {
    content: "";
  }

  &.person::before {
    content: "";
  }

  &.person_add::before {
    content: "";
  }

  &.person_outline::before {
    content: "";
  }

  &.person_pin::before {
    content: "";
  }

  &.person_pin_circle::before {
    content: "";
  }

  &.personal_video::before {
    content: "";
  }

  &.pets::before {
    content: "";
  }

  &.phone::before {
    content: "";
  }

  &.phone_android::before {
    content: "";
  }

  &.phone_bluetooth_speaker::before {
    content: "";
  }

  &.phone_forwarded::before {
    content: "";
  }

  &.phone_in_talk::before {
    content: "";
  }

  &.phone_iphone::before {
    content: "";
  }

  &.phone_locked::before {
    content: "";
  }

  &.phone_missed::before {
    content: "";
  }

  &.phone_paused::before {
    content: "";
  }

  &.phonelink::before {
    content: "";
  }

  &.phonelink_erase::before {
    content: "";
  }

  &.phonelink_lock::before {
    content: "";
  }

  &.phonelink_off::before {
    content: "";
  }

  &.phonelink_ring::before {
    content: "";
  }

  &.phonelink_setup::before {
    content: "";
  }

  &.photo::before {
    content: "";
  }

  &.photo_album::before {
    content: "";
  }

  &.photo_camera::before {
    content: "";
  }

  &.photo_filter::before {
    content: "";
  }

  &.photo_library::before {
    content: "";
  }

  &.photo_size_select_actual::before {
    content: "";
  }

  &.photo_size_select_large::before {
    content: "";
  }

  &.photo_size_select_small::before {
    content: "";
  }

  &.picture_as_pdf::before {
    content: "";
  }

  &.picture_in_picture::before {
    content: "";
  }

  &.picture_in_picture_alt::before {
    content: "";
  }

  &.pie_chart::before {
    content: "";
  }

  &.pie_chart_outlined::before {
    content: "";
  }

  &.pin_drop::before {
    content: "";
  }

  &.place::before {
    content: "";
  }

  &.play_arrow::before {
    content: "";
  }

  &.play_circle_filled::before {
    content: "";
  }

  &.play_circle_outline::before {
    content: "";
  }

  &.play_for_work::before {
    content: "";
  }

  &.playlist_add::before {
    content: "";
  }

  &.playlist_add_check::before {
    content: "";
  }

  &.playlist_play::before {
    content: "";
  }

  &.plus_one::before {
    content: "";
  }

  &.poll::before {
    content: "";
  }

  &.polymer::before {
    content: "";
  }

  &.pool::before {
    content: "";
  }

  &.portable_wifi_off::before {
    content: "";
  }

  &.portrait::before {
    content: "";
  }

  &.power::before {
    content: "";
  }

  &.power_input::before {
    content: "";
  }

  &.power_settings_new::before {
    content: "";
  }

  &.pregnant_woman::before {
    content: "";
  }

  &.present_to_all::before {
    content: "";
  }

  &.print::before {
    content: "";
  }

  &.priority_high::before {
    content: "";
  }

  &.public::before {
    content: "";
  }

  &.publish::before {
    content: "";
  }

  &.query_builder::before {
    content: "";
  }

  &.question_answer::before {
    content: "";
  }

  &.queue::before {
    content: "";
  }

  &.queue_music::before {
    content: "";
  }

  &.queue_play_next::before {
    content: "";
  }

  &.radio::before {
    content: "";
  }

  &.radio_button_checked::before {
    content: "";
  }

  &.radio_button_unchecked::before {
    content: "";
  }

  &.rate_review::before {
    content: "";
  }

  &.receipt::before {
    content: "";
  }

  &.recent_actors::before {
    content: "";
  }

  &.record_voice_over::before {
    content: "";
  }

  &.redeem::before {
    content: "";
  }

  &.redo::before {
    content: "";
  }

  &.refresh::before {
    content: "";
  }

  &.remove::before {
    content: "";
  }

  &.remove_circle::before {
    content: "";
  }

  &.remove_circle_outline::before {
    content: "";
  }

  &.remove_from_queue::before {
    content: "";
  }

  &.remove_red_eye::before {
    content: "";
  }

  &.remove_shopping_cart::before {
    content: "";
  }

  &.reorder::before {
    content: "";
  }

  &.repeat::before {
    content: "";
  }

  &.repeat_one::before {
    content: "";
  }

  &.replay::before {
    content: "";
  }

  &.replay_10::before {
    content: "";
  }

  &.replay_30::before {
    content: "";
  }

  &.replay_5::before {
    content: "";
  }

  &.reply::before {
    content: "";
  }

  &.reply_all::before {
    content: "";
  }

  &.report::before {
    content: "";
  }

  &.report_problem::before {
    content: "";
  }

  &.restaurant::before {
    content: "";
  }

  &.restaurant_menu::before {
    content: "";
  }

  &.restore::before {
    content: "";
  }

  &.restore_page::before {
    content: "";
  }

  &.ring_volume::before {
    content: "";
  }

  &.room::before {
    content: "";
  }

  &.room_service::before {
    content: "";
  }

  &.rotate_90_degrees_ccw::before {
    content: "";
  }

  &.rotate_left::before {
    content: "";
  }

  &.rotate_right::before {
    content: "";
  }

  &.rounded_corner::before {
    content: "";
  }

  &.router::before {
    content: "";
  }

  &.rowing::before {
    content: "";
  }

  &.rss_feed::before {
    content: "";
  }

  &.rv_hookup::before {
    content: "";
  }

  &.satellite::before {
    content: "";
  }

  &.save::before {
    content: "";
  }

  &.scanner::before {
    content: "";
  }

  &.schedule::before {
    content: "";
  }

  &.school::before {
    content: "";
  }

  &.screen_lock_landscape::before {
    content: "";
  }

  &.screen_lock_portrait::before {
    content: "";
  }

  &.screen_lock_rotation::before {
    content: "";
  }

  &.screen_rotation::before {
    content: "";
  }

  &.screen_share::before {
    content: "";
  }

  &.sd_card::before {
    content: "";
  }

  &.sd_storage::before {
    content: "";
  }

  &.search::before {
    content: "";
  }

  &.security::before {
    content: "";
  }

  &.select_all::before {
    content: "";
  }

  &.send::before {
    content: "";
  }

  &.sentiment_dissatisfied::before {
    content: "";
  }

  &.sentiment_neutral::before {
    content: "";
  }

  &.sentiment_satisfied::before {
    content: "";
  }

  &.sentiment_very_dissatisfied::before {
    content: "";
  }

  &.sentiment_very_satisfied::before {
    content: "";
  }

  &.settings::before {
    content: "";
  }

  &.settings_applications::before {
    content: "";
  }

  &.settings_backup_restore::before {
    content: "";
  }

  &.settings_bluetooth::before {
    content: "";
  }

  &.settings_brightness::before {
    content: "";
  }

  &.settings_cell::before {
    content: "";
  }

  &.settings_ethernet::before {
    content: "";
  }

  &.settings_input_antenna::before {
    content: "";
  }

  &.settings_input_component::before {
    content: "";
  }

  &.settings_input_composite::before {
    content: "";
  }

  &.settings_input_hdmi::before {
    content: "";
  }

  &.settings_input_svideo::before {
    content: "";
  }

  &.settings_overscan::before {
    content: "";
  }

  &.settings_phone::before {
    content: "";
  }

  &.settings_power::before {
    content: "";
  }

  &.settings_remote::before {
    content: "";
  }

  &.settings_system_daydream::before {
    content: "";
  }

  &.settings_voice::before {
    content: "";
  }

  &.share::before {
    content: "";
  }

  &.shop::before {
    content: "";
  }

  &.shop_two::before {
    content: "";
  }

  &.shopping_basket::before {
    content: "";
  }

  &.shopping_cart::before {
    content: "";
  }

  &.short_text::before {
    content: "";
  }

  &.show_chart::before {
    content: "";
  }

  &.shuffle::before {
    content: "";
  }

  &.signal_cellular_4_bar::before {
    content: "";
  }

  &.signal_cellular_connected_no_internet_4_bar::before {
    content: "";
  }

  &.signal_cellular_no_sim::before {
    content: "";
  }

  &.signal_cellular_null::before {
    content: "";
  }

  &.signal_cellular_off::before {
    content: "";
  }

  &.signal_wifi_4_bar::before {
    content: "";
  }

  &.signal_wifi_4_bar_lock::before {
    content: "";
  }

  &.signal_wifi_off::before {
    content: "";
  }

  &.sim_card::before {
    content: "";
  }

  &.sim_card_alert::before {
    content: "";
  }

  &.skip_next::before {
    content: "";
  }

  &.skip_previous::before {
    content: "";
  }

  &.slideshow::before {
    content: "";
  }

  &.slow_motion_video::before {
    content: "";
  }

  &.smartphone::before {
    content: "";
  }

  &.smoke_free::before {
    content: "";
  }

  &.smoking_rooms::before {
    content: "";
  }

  &.sms::before {
    content: "";
  }

  &.sms_failed::before {
    content: "";
  }

  &.snooze::before {
    content: "";
  }

  &.sort::before {
    content: "";
  }

  &.sort_by_alpha::before {
    content: "";
  }

  &.spa::before {
    content: "";
  }

  &.space_bar::before {
    content: "";
  }

  &.speaker::before {
    content: "";
  }

  &.speaker_group::before {
    content: "";
  }

  &.speaker_notes::before {
    content: "";
  }

  &.speaker_notes_off::before {
    content: "";
  }

  &.speaker_phone::before {
    content: "";
  }

  &.spellcheck::before {
    content: "";
  }

  &.star::before {
    content: "";
  }

  &.star_border::before {
    content: "";
  }

  &.star_half::before {
    content: "";
  }

  &.stars::before {
    content: "";
  }

  &.stay_current_landscape::before {
    content: "";
  }

  &.stay_current_portrait::before {
    content: "";
  }

  &.stay_primary_landscape::before {
    content: "";
  }

  &.stay_primary_portrait::before {
    content: "";
  }

  &.stop::before {
    content: "";
  }

  &.stop_screen_share::before {
    content: "";
  }

  &.storage::before {
    content: "";
  }

  &.store::before {
    content: "";
  }

  &.store_mall_directory::before {
    content: "";
  }

  &.straighten::before {
    content: "";
  }

  &.streetview::before {
    content: "";
  }

  &.strikethrough_s::before {
    content: "";
  }

  &.style::before {
    content: "";
  }

  &.subdirectory_arrow_left::before {
    content: "";
  }

  &.subdirectory_arrow_right::before {
    content: "";
  }

  &.subject::before {
    content: "";
  }

  &.subscriptions::before {
    content: "";
  }

  &.subtitles::before {
    content: "";
  }

  &.subway::before {
    content: "";
  }

  &.supervisor_account::before {
    content: "";
  }

  &.surround_sound::before {
    content: "";
  }

  &.swap_calls::before {
    content: "";
  }

  &.swap_horiz::before {
    content: "";
  }

  &.swap_vert::before {
    content: "";
  }

  &.swap_vertical_circle::before {
    content: "";
  }

  &.switch_camera::before {
    content: "";
  }

  &.switch_video::before {
    content: "";
  }

  &.sync::before {
    content: "";
  }

  &.sync_disabled::before {
    content: "";
  }

  &.sync_problem::before {
    content: "";
  }

  &.system_update::before {
    content: "";
  }

  &.system_update_alt::before {
    content: "";
  }

  &.tab::before {
    content: "";
  }

  &.tab_unselected::before {
    content: "";
  }

  &.tablet::before {
    content: "";
  }

  &.tablet_android::before {
    content: "";
  }

  &.tablet_mac::before {
    content: "";
  }

  &.tag_faces::before {
    content: "";
  }

  &.tap_and_play::before {
    content: "";
  }

  &.terrain::before {
    content: "";
  }

  &.text_fields::before {
    content: "";
  }

  &.text_format::before {
    content: "";
  }

  &.textsms::before {
    content: "";
  }

  &.texture::before {
    content: "";
  }

  &.theaters::before {
    content: "";
  }

  &.thumb_down::before {
    content: "";
  }

  &.thumb_up::before {
    content: "";
  }

  &.thumbs_up_down::before {
    content: "";
  }

  &.time_to_leave::before {
    content: "";
  }

  &.timelapse::before {
    content: "";
  }

  &.timeline::before {
    content: "";
  }

  &.timer::before {
    content: "";
  }

  &.timer_10::before {
    content: "";
  }

  &.timer_3::before {
    content: "";
  }

  &.timer_off::before {
    content: "";
  }

  &.title::before {
    content: "";
  }

  &.toc::before {
    content: "";
  }

  &.today::before {
    content: "";
  }

  &.toll::before {
    content: "";
  }

  &.tonality::before {
    content: "";
  }

  &.touch_app::before {
    content: "";
  }

  &.toys::before {
    content: "";
  }

  &.track_changes::before {
    content: "";
  }

  &.traffic::before {
    content: "";
  }

  &.train::before {
    content: "";
  }

  &.tram::before {
    content: "";
  }

  &.transfer_within_a_station::before {
    content: "";
  }

  &.transform::before {
    content: "";
  }

  &.translate::before {
    content: "";
  }

  &.trending_down::before {
    content: "";
  }

  &.trending_flat::before {
    content: "";
  }

  &.trending_up::before {
    content: "";
  }

  &.tune::before {
    content: "";
  }

  &.turned_in::before {
    content: "";
  }

  &.turned_in_not::before {
    content: "";
  }

  &.tv::before {
    content: "";
  }

  &.unarchive::before {
    content: "";
  }

  &.undo::before {
    content: "";
  }

  &.unfold_less::before {
    content: "";
  }

  &.unfold_more::before {
    content: "";
  }

  &.update::before {
    content: "";
  }

  &.usb::before {
    content: "";
  }

  &.verified_user::before {
    content: "";
  }

  &.vertical_align_bottom::before {
    content: "";
  }

  &.vertical_align_center::before {
    content: "";
  }

  &.vertical_align_top::before {
    content: "";
  }

  &.vibration::before {
    content: "";
  }

  &.video_call::before {
    content: "";
  }

  &.video_label::before {
    content: "";
  }

  &.video_library::before {
    content: "";
  }

  &.videocam::before {
    content: "";
  }

  &.videocam_off::before {
    content: "";
  }

  &.videogame_asset::before {
    content: "";
  }

  &.view_agenda::before {
    content: "";
  }

  &.view_array::before {
    content: "";
  }

  &.view_carousel::before {
    content: "";
  }

  &.view_column::before {
    content: "";
  }

  &.view_comfy::before {
    content: "";
  }

  &.view_compact::before {
    content: "";
  }

  &.view_day::before {
    content: "";
  }

  &.view_headline::before {
    content: "";
  }

  &.view_list::before {
    content: "";
  }

  &.view_module::before {
    content: "";
  }

  &.view_quilt::before {
    content: "";
  }

  &.view_stream::before {
    content: "";
  }

  &.view_week::before {
    content: "";
  }

  &.vignette::before {
    content: "";
  }

  &.visibility::before {
    content: "";
  }

  &.visibility_off::before {
    content: "";
  }

  &.voice_chat::before {
    content: "";
  }

  &.voicemail::before {
    content: "";
  }

  &.volume_down::before {
    content: "";
  }

  &.volume_mute::before {
    content: "";
  }

  &.volume_off::before {
    content: "";
  }

  &.volume_up::before {
    content: "";
  }

  &.vpn_key::before {
    content: "";
  }

  &.vpn_lock::before {
    content: "";
  }

  &.wallpaper::before {
    content: "";
  }

  &.warning::before {
    content: "";
  }

  &.watch::before {
    content: "";
  }

  &.watch_later::before {
    content: "";
  }

  &.wb_auto::before {
    content: "";
  }

  &.wb_cloudy::before {
    content: "";
  }

  &.wb_incandescent::before {
    content: "";
  }

  &.wb_iridescent::before {
    content: "";
  }

  &.wb_sunny::before {
    content: "";
  }

  &.wc::before {
    content: "";
  }

  &.web::before {
    content: "";
  }

  &.web_asset::before {
    content: "";
  }

  &.weekend::before {
    content: "";
  }

  &.whatshot::before {
    content: "";
  }

  &.widgets::before {
    content: "";
  }

  &.wifi::before {
    content: "";
  }

  &.wifi_lock::before {
    content: "";
  }

  &.wifi_tethering::before {
    content: "";
  }

  &.work::before {
    content: "";
  }

  &.wrap_text::before {
    content: "";
  }

  &.youtube_searched_for::before {
    content: "";
  }

  &.zoom_in::before {
    content: "";
  }

  &.zoom_out::before {
    content: "";
  }

  &.zoom_out_map::before {
    content: "";
  }
}
