@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/color-palette";
@import "abstracts/root";
@import "abstracts/breakpoints";
@import "abstracts/typography";

@mixin cms-button($bg-color: var(--button-bg), $color: var(--button-fg)) {
  color: $color;

  background-color: $bg-color;
  border: var(--button-border-size) solid $bg-color;

  &:hover, &:focus {
    color: $color;

    //background-color: darken($bg-color, 5);
    //border-color: darken($bg-color, 10);

    &:before {
      color: $color;
    }
  }

  &:before {
    color: $color;
  }
}

body div.cms {
  .cms-toolbar {
    // toolbar logo
    .cms-toolbar-item.cms-toolbar-item-logo {
      a {
        color: var(--header-branding-color);

        &:hover {
          color: var(--primary);
        }
      }
    }

    // toolbar
    .cms-toolbar-item-navigation {
      .cms-toolbar-item-navigation-hover {
        > a {
          background-color: var(--primary);
        }

        > ul {
          padding: 0;

          border: none;

          li.cms-toolbar-item-navigation-break {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  /*
  &.cms-toolbar-debug {
    .cms-debug-bar {
      background-color: var(--primary);
    }
    .cms-toolbar {
      .cms-btn {
        &.cms-btn-switch-edit {
          @include cms-button(var(--primary), var(--primary-fg));
        }
      }
    }
  }
  */

  // structure mode context menu
  .cms-submenu-dropdown-settings .cms-submenu-item {
    a:hover,
    a.hover {
      background-color: var(--primary);
    }
  }

  // structure mode plugin placeholder
  .cms-add-plugin-placeholder {
    color: var(--primary);

    background-color: var(--accent);
    border-color: var(--primary);
  }

  // dragbar
  .cms-structure .cms-dragbar .cms-dragbar-toggler {
    a {
      color: var(--link-fg) !important;

      &:hover {
        color: var(--link-hover-color) !important;
      }
    }
  }

  // modal breadcrumbs
  .cms-modal-has-breadcrumb .cms-modal-breadcrumb {
    a {
      color: var(--link-fg);

      &.active {
        color: var(--link-selected-fg);
      }
    }
  }

  // modal top-bar icons
  .cms-modal .cms-modal-head {
    .cms-icon[class^="cms-modal-"] {
      &:hover {
        color: var(--primary);
      }
    }
  }

  // plugin picker
  .cms-plugin-picker .cms-submenu-item {
    a:hover {
      color: var(--primary);

      border-color: var(--primary);
    }
  }

  // buttons
  .cms-btn {
    &.cms-btn-default {
      @include cms-button(var(--button-default-bg), var(--button-default-fg));
    }

    &.cms-btn-action {
      @include cms-button(var(--primary), var(--primary-fg));
    }

    &.cms-btn-caution {
      @include cms-button(var(--danger), var(--primary-fg));
    }
  }

  //modals generic
  .cms-content-wizard {
    p.help {
      padding-left: 0;
    }
  }
}
